
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
  

body{
  background-color: black;
  color: white;
}



:root {
  --main-red: #AF101A;
  --color-red: #AF101A;
  --color-steps:#005FAF;
  --color-health:#8F6F6C;
  --bg-bar:#e8e8e8;
  --color-contact-info:#1A1C1C;
  --color-contact:#5B403D;
  --border-box:#E4BEBA;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
.bg-main-red {
  background-color: var(--main-red) !important;
}
.text-main-red {
  color: var(--color-red) !important;
}

.text-steps-info {
  color: var(--color-steps) !important;
}
.bg-steps-info {
  background-color: var(--color-steps) !important;
}

.text-health-info {
  color: var(--color-health) !important;
}
.bg-progress-bar {
  background-color: var(--bg-bar) !important;
}
.text-contact-info {
  color: var(--color-contact-info) !important;
}
.text-contact {
  color: var(--color-contact) !important;
}
.border-box {
  border: 1px solid var(--border-box) !important;
}
input{
  outline: none;
  border: 1px solid var(--border-box);
  border-radius: 5px;
  padding: 10px;
}
.box{
  cursor: pointer;
  user-select: none;
}

@media (max-width: 1024px) {
  .left .bottom {
    display: none;
  }
}
@media (max-width: 768px) {
  .left {
    padding: 30px 20px !important;
  }
  .left .top {
    padding: 0 !important;
    margin: 0 !important;
  }
  .left .bottom {
    display: none;
  }
  .left .top p:first-of-type {
    font-size: 20px !important;
  }
  .right  {
    padding: 30px 20px !important;
  }
  .right .bottom form input{
    width: 200px !important;
    display: inline-block !important;
    margin-right: 10px !important;
  }
  .progress-address{
    font-size: 12px !important;
  }
  .right .top {
  font-size: 12px !important;
  }
  form {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
  }
  label {
    width: 100% !important;
    display: block !important;
  } 
  .footer {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    padding: 20px 40px !important;
  }
  .help{
    display: none !important;
  }
  .copy{
    width: 100% !important;
    margin-bottom: 20px !important;
    order: 2 !important;
    font-size: 12px;
    padding: 0 !important;
  }
  .footer ul{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 20px !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    order: 1 !important;
    padding: 0 !important;
  }
}





